
body{
    background-color: #ebb614;
}
@font-face{
    font-family:'Titling Gothic FB';
    src:  url('fonts/TitlingGothicFBCondBold.otf'),
    url('fonts/TitlingGothicFBNormalLight.otf');
}
@font-face{
    font-family:'avenir next lt pro';
    src:  url('fonts/AVENIRNEXTLTPRO-IT.OTF');
}
/*-------------------------Contenti---------------------------*/
.content .left-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content .right-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content .left-content h1{
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Titling Gothic FB';
}
.content .left-content h3{
    color: #EAEAEA;
    height: 65px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
    font-family: 'avenir next lt pro';
}
.content .left-content h4{
    color: #EAEAEA;
    height: 65px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'avenir next lt pro';
}
.content .right-content h3{
    color: #fff;
    font-family: 'avenir next lt pro';
    font-weight: bold;
}
.content .right-content h4{
    color: #EAEAEA;
    height: 65px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    font-family:'avenir next lt pro';
}
.content .padding-right{
    padding-right: 40px;
    padding-left: 40px;
}
.content .burimi{
    height: 30px;
}
.content .burimi h4{
    text-align: right;
    margin-top: 76px;
}
.vertical-line-top{
    height: 40px;
    width: 2px;
    background-color: #FFF;
    margin-top: 0px;
}
.vertical-line-bottom{
    height: 50px;
    width: 2px;
    background-color: #FFF;
    margin-bottom: 5px;
}
.content .middle-content{
    text-align: center;
}
.content .middle-content .prev{
    margin-bottom: 50px;
    margin-top: 5px;
}
.content .middle-content .icon{
    margin-bottom: 15px;
    margin-top: 15px;
}
.content .middle-content .next{
    margin-bottom: 15px;
    margin-top: 50px;
}
/*--------------------------Footer-----------------------------*/
.footer{
    min-height: 70px;
    background-color: #fff;
}
.footer .nopadding{
    padding-left: 0;
    padding-right: 0;
}
.footer .economy{
    background-color: #f0efee;
}
.footer  h2{
    color: #888782;
    font-family: 'Titling Gothic FB';
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 30px;
}
.footer  h4{
    color: #888782;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 19px;
}
.footer .padding-left{
    padding-left: 65px;
    padding-right: 0;
}
.footer .social .fb{
    background-color: #4d67a3;
    float: left;
    min-width: 50%;
    height: 70px;
    text-align: center;
}
.footer .social .twitter{
    background-color: #25a7df;
    float: right;
    min-width: 50%;
    height: 70px;
    text-align: center;
}
.footer .social .fb img{
    margin-top: 15px;
}
.footer .social .twitter img{
    margin-top: 15px;
}
/*---------------------------Media-screen-------------------------*/
@media(max-width: 330px){
    .content .left-content h3{
    margin-bottom: 25px;
    font-size: 18px;
   }
}
@media(max-width: 497px){
    .content .right-content h4{
    margin-bottom: 47px;
    }
}
@media(max-width: 497px){
    .content .right-content h4{
    margin-bottom: 115px;
    }
}
@media(max-width: 404px){
    .content .burimi h4{
    margin-top: 150px;
}
}
@media(max-width: 340px){
    .content .burimi h4{
    margin-top: 225px;
    }
}
@media(max-width:1204px){
    .footer  h2{
    font-size: 25px;
    margin-left: 14px;
    }
}
@media(max-width:1204px){
    .footer  h4{
    margin-top: 10px;
    }
}
@media(max-width:991px){
    .footer  h4{
    padding-top: 10px;
    padding-bottom: 10px;
    }
}
@media(max-width:768px){
    .footer  h4{
    padding-top: 10px;
    padding-bottom: 20px;
    }
}
@media(max-width:991px){
    .footer .padding-left{
    padding-left: 0px;
    }
}
@media only screen and (min-width: 600px) {
    .col-s-12 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}