@import '../../styles/variable.scss';

.modal-content-speakers {
  position: relative;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
  background-color: $color--bg;

  .modal-content-speakers__img {
    width: 70%;
    border-radius: 50%;
  }

  .modal-content-speakers__name {
    margin: 0;
    font-size: 2.5rem;
    color: $color--secondary;
  }

  .modal-content-speakers__position {
    color: $color--gray;
  }

  .modal-content-speakers__intro {
    text-align: left;
  }

  .modal-content-speakers__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &::before, &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #333;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @include screen--md {
    text-align: left;
    display: flex;

    .modal-content-speakers__img-section {
      flex: 3;

      .modal-content-speakers__img {
        width: 85%;
      }
    }

    .modal-content-speakers__txt-section {
      flex: 7;
    }
  }
}
