@import "../styles/variable.scss";

html {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

.app-fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container-fullscreen {
  width: 100%;
  background: linear-gradient(350.91deg, #A9C2FF 28.55%, #517CFF 89.13%);
  min-height: 120vmin;

  .logo-container {
    max-width: 90vmin;
    height: 101vmin;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .logo-container-fullscreen-mask {
    height: 0;
    border-style: solid;
    border-width: 0 0 20vmin 100vw;
    border-color: transparent transparent #FFFFFF transparent; 
  }

  .logo-container-fullscreen-mask-container {
    position: relative;
  }

  .logo-container-fullscreen-mask-2-container {
    position: absolute;
    bottom: 0;
    justify-content: end;
    align-items: end;
    .logo-container-fullscreen-mask-2-top {
      height: 0;
      border-style: solid;
      border-width: 0 0 12vmin 100vw;
      border-color: transparent transparent #FFFFFF33 transparent;
    }
    .logo-container-fullscreen-mask-2-bottom {
      background: #FFFFFF33;
      height: 5vmin;
    }
  }
  
  .logo {
    width: 100%;
    height: auto;
  }

  .logo-info {
    margin-right: 7pt;
    margin-block-start: 0px;

    font-size: 8vmin;
    line-height: 10vmin;
    text-align: right;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    i {
      padding-right: 4pt
    }
  }
}

.app__container {
  //padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30pt;

  .app__submit {
    display: block;
    margin: 5rem 0;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    background-color: $color--primary;
  }

  .app__sechdule-tab {
    margin-bottom: 1rem;

    .button {
      font-weight: bold;
      margin-right: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: 1px solid $color--secondary;
      outline: none;
      color: $color--secondary;
      background-color: $color--white;
    }

    .app__sechdule-tab__btn--selected {
      color: $color--white;
      background-color: $color--secondary;
    }
  }

  .app__table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(240, 187, 64, 0.33);

    &,
    th,
    td {
      border: 1px solid $color--bg;
    }

    th,
    td {
      padding: 0.5rem;
    }

    th {
      border-bottom-width: 3px;
    }
  }

  .app__speaker-container {
    text-align: center;
  }
  .app__speaker {
    text-align: center;
    cursor: pointer;

    .app__speaker-img {
      width: 60%;
      max-width: 275px;
      margin-top: 2rem;
      border-radius: 50%;
    }

    .app__speaker-name {
      font-size: 1.35rem;
      margin-bottom: 0;
      color: $color--secondary;
    }

    .app__speaker-position {
      margin-top: 0;
      color: black;
    }
  }

  .app__sponsor {
    text-align: center;

    .app__sponsor-logo {
      width: 80%;
      max-width: 325px;
      margin-top: 2rem;
    }

    .app__sponsor-degree {
      color: #000;
    }
  }

  .app__section {
    padding: 2rem 0;
    //margin: 0 40px;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;

      color: #333333;
    }
  }

  .main_section {
    position: relative;
  }
  
  .main_section_logo {
    position: absolute;
    width: 75vmin;
    min-width: 360px;
    left: -25vmin;
    z-index: -1;
  }

  .main_section_container {
    padding: 2rem 0;
    margin: 30vmin -0px 0px 5vw;
    min-height: 360px;
    /* box-shadow: 0px 4px 23px #88888888; */
    background-color: #ffffff66;
    border-radius: 23px 0 0 23px;
    //border: 1px solid #FFFFFF;
    box-shadow: 0 3px 30px 2px rgba(0,0,0,0.20);
  }
  .section_content_row_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section_center_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app__title {
    margin-bottom: 2.5rem;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #517CFF;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
  }

  a {
    text-decoration: none;
  }

  @include screen--md {
 


    .app__submit {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }

    .app__speaker,
    .app__sponsor {
      width: 25%;
      display: inline-block;
    }

    .app__speaker {
      .app__speaker-name {
        margin-top: 0.5rem;
      }
    }

    .app__sponsor {
      .app__sponsor-logo {
        width: 75%;
      }
    }
  }

 




  @include screen--lg {
    .app__container {
      max-width: 960px;
    }
  }
}
