#menu{
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 100;
  margin: 10px auto;
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  /* -webkit-box-align: center;
          align-items: center; */
  max-width: 980px;
  margin: 0 auto;
  height: 120px;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 70px;
  -webkit-transition: background-position-x 0.9s linear;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
  font-size: 18px;
  color: #cacaca;
  text-decoration: none;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.menu li a p{
  margin: 0;
}

.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1.3s;
          animation: line 1.3s;
  background-size: auto 70px;
}
.menu li:hover a {
  color: #d94f5c;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
