---
layout: default
---
<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed | sort_by: "post.date" %}
{% if post.category contains 'grafika' %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <section id="{{ post.sectionId }}" height="100%">
    <div class="content-section-a">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6" >
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead"><p class="justify">{{ post.description }} </p></div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                   {{ post.img }}
                </div>
            </div>
        </div>
    </section>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    {% else %}
    <section id="{{ post.sectionId }}">
    <div class="content-section-b">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead"><p class="justify">{{ post.description }}</p></div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                   {{ post.img }}
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>
    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endif %}
{% endfor %}
</section>

