---
layout: default
---
<script src="{{ site.baseurl }}/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#veture_re").click(function () {
        $('#data_prodhimit').attr("disabled", $(this).is(":checked"));
        document.getElementById('data_prodhimit').valueAsDate = new Date();
    });
    $(function () {
    // var today = new Date();
    // $('#data_sot').attr('value', today);
        document.getElementById('data_sot').valueAsDate = new Date();
        $(".total").on("click", function(e){
            e.preventDefault();
            var vlera   = +$("#vlera").val();
            var kubikazha = +$("#kubikazha").val();
            var dogana  = vlera*0.1;
            $("#dogana").val(dogana);

            var date1 = new Date($('#data_sot').val());
            var date2 = new Date($('#data_prodhimit').val());
            var vitet = date1.getYear() - date2.getYear();

            var gjej_akcizen;
            if( kubikazha <=  2000){   
                switch (true) {
                case (vitet == 0) :  
                    gjej_akcizen = 0;    
                    break;
                case (vitet == 8) :  
                    gjej_akcizen = 400;  
                    break;
                case (vitet == 9) :  
                    gjej_akcizen = 600;  
                    break;
                case (vitet == 10):  
                    gjej_akcizen = 700;  
                    break;
                case (vitet == 11):  
                    gjej_akcizen = 800;  
                    break;
                case (vitet == 12): 
                    gjej_akcizen = 900; 
                    break;
                case (vitet == 13):  
                    gjej_akcizen = 1000; 
                    break;
                case (vitet == 14):  
                    gjej_akcizen = 1100; 
                    break;
                case (vitet == 15):  
                    gjej_akcizen = 1200; 
                    break;
                case (vitet == 16):  
                    gjej_akcizen = 1300; 
                    break;
                case (vitet >= 17):  
                    gjej_akcizen = 1500; 
                    break;
                default: 
                    gjej_akcizen = 0; 
                    break;
                }
            }
            if (kubikazha  > 2000  &&  kubikazha < 3001){   
                switch (true) {
                case (vitet == 0) :  
                    gjej_akcizen = 300;  
                    break;
                case (vitet == 8) :  
                    gjej_akcizen = 400;  
                    break;
                case (vitet == 9) :  
                    gjej_akcizen = 600;  
                    break;
                case (vitet == 10): 
                    gjej_akcizen = 800;  
                    break;
                case (vitet == 11): 
                    gjej_akcizen = 1000; 
                    break;
                case (vitet == 12):  
                    gjej_akcizen = 1200; 
                    break;
                case (vitet == 13):  
                    gjej_akcizen = 1400; 
                    break;
                case (vitet == 14):  
                    gjej_akcizen = 1600; 
                    break;
                case (vitet == 15):  
                    gjej_akcizen = 1800; 
                    break;
                case (vitet == 16):  
                    gjej_akcizen = 2000; 
                    break;
                case (vitet >= 17):  
                    gjej_akcizen = 2200; 
                    break;
                default: 
                    gjej_akcizen = 0; 
                    break;
                }
            }
            if( kubikazha > 3000){  
                switch (true) {
                case (vitet == 0) : 
                    gjej_akcizen = 800; 
                        break;
                case (vitet == 8) : 
                    gjej_akcizen = 1000; 
                        break;
                case (vitet == 9) : 
                    gjej_akcizen = 1500;
                        break;
                case (vitet == 10): 
                    gjej_akcizen = 1800;
                        break;
                case (vitet == 11): 
                    gjej_akcizen = 2100;
                        break;
                case (vitet == 12): 
                    gjej_akcizen = 2400;
                        break;
                case (vitet == 13): 
                    gjej_akcizen = 2700;
                        break;
                case (vitet == 14): 
                    gjej_akcizen = 3000;
                        break;
                case (vitet == 15): 
                    gjej_akcizen = 3300;
                        break;
                case (vitet == 16): 
                    gjej_akcizen = 3600;
                        break;
                case (vitet >= 17): 
                    gjej_akcizen = 3333;
                        break;
                default: 
                    gjej_akcizen = 0; 
                        break;
                }
            }
            $("#akciza").val(gjej_akcizen);
            var tvsh = (vlera + gjej_akcizen + dogana) * 0.18;
            $("#tvsh").val(tvsh);
            $('#total').val(vlera + gjej_akcizen + dogana + tvsh)          
            })
    });

});
</script>

<section id="services">
<div class="content-section-b">
    <section id="calculator">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Kalkulator</h2>
                    <div class="lead">Pershkrimi i kalkulatorit.<br/><br/>
                        <ul class="justify">
                            <li><strong>Kubikazha:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>

                            <li><strong>Vlera:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>

                            <li><strong>Akciza:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>

                            <li><strong>Dogana:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6  ">
                  <div class="form-horizontal" align="center">
                        <br/><br/><br/><br/><br/>
                        <div class="form-group ">
                            <label class="control-label col-xs-5"> Data sot : </label>
                            <div class="col-xs-5">
                            <input type="date" id="data_sot" disabled="true"  class="form-control" />
                        </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-xs-5">Data e prodhimit:</label>
                            <div class="col-xs-5">
                                <input type="date" id="data_prodhimit" class="form-control"/>
                            </div>
                            <div class="col-xs-5 col-lg-offset-4">
                                <fieldset id="checkArray">
                                    <input  type="checkbox" id="veture_re" name="veture_re" value=" "/> Veture e re
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-xs-5"> Kubikazha: </label>
                            <div class="col-xs-5">
                                <input type="number" value="0" min="0" step="1" id="kubikazha" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-xs-5"> Vlera: </label>
                            <div class="col-xs-5">
                                <input type="number" value="0" min="0" step="1" id="vlera" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-5 col-lg-offset-5" >
                                <button class="btn orange total"> Llogarit </button>
                            </div>
                        </div>
                        <br />
                        <div class="form-group ">
                            <label class="control-label col-xs-5"> Akciza: </label>
                            <div class="col-xs-5">
                             <input type="number" value="0" disabled="true" id="akciza" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-xs-5"> Dogana: </label>
                            <div class="col-xs-5">
                                <input type="number" value="0" disabled="true" id="dogana" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-xs-5"> TVSH: </label>
                            <div class="col-xs-5">
                                <input type="number" min="0"  value="0" id="tvsh" disabled="true" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-xs-5"> Totali: </label>
                            <div class="col-xs-5">
                                <input type="number"  value="0" id="total" disabled="true" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>
</div>

<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">
    <section id="{{ post.sectionId }}">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.description }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a href="{{ site.baseurl }}{{ post.url }}"><img class="img-responsive" src="img/services/{{ post.img }}" alt=""></a>
                </div>
            </div>

        </div>
    </section>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">
    <section id="{{ post.sectionId }}">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.description }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <a href="{{ site.baseurl }}{{ post.url }}"><img class="img-responsive" src="img/services/{{ post.img }}" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>
    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>

