.modal__overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  animation: show 0.5s ease;

  .modal__dialog {
    margin: auto 0;
    width: 100%;
    max-width: 700px;
  }
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
