@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display&display=swap');

.interduce {
    height: 830px;
    background-color: gold;
    padding: 180px 95px 100px 95px;

    .inerduce-container {
        background-color: purple;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .interduce-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        .interduce-content-top {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            color: #000000;
        }

        .interduce-content-mid {
            font-family: 'Alice';
            font-style: normal;
            font-weight: 400;
            font-size: 27px;
            line-height: 31px;
            
            color: #000000;
        }

        .interduce-signup-bottom {
            width: 250px;
        }
    }

    .interduce-image-container {
        background-color: green;
        height: 592px;
        width: 560px;
    }
}