@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* Color
 * ======================================================================== */
/* Media queries
 * ======================================================================== */
:root {
  font-size: 14px;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    :root {
      font-size: 16px; } }
