/* Color
 * ======================================================================== */
$color--orange: tomato;
$color--blue: dodgerblue;
$color--white: white;
$color--gray: gray;
$color--lightGray: lightGray;

$color--primary: $color--orange;
$color--secondary: $color--blue;
$color--bg: $color--white;

/* Media queries
 * ======================================================================== */
 @mixin mobile {
  // Small devices (landscape phones, 576px and up)
  @media screen and (max-width: 600px) {
    @content;
  }
}

 @mixin screen--sm {
  // Small devices (landscape phones, 576px and up)
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin screen--md {
  // Medium devices (tablets, 768px and up)
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen--lg {
  // Large devices (desktops, 992px and up)
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin screen--xl {
  // Extra large devices (large desktops, 1200px and up)
  @media screen and (min-width: 1200px) {
    @content;
  }
}
