@import "../../styles/variable.scss";

.action-button {
    display: inline-block;
    width: 250px;
    background-image: linear-gradient(-60deg, #E9A315 6%, #D2438B 100%);
    border-radius: 60px;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.33);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 10px;
    padding: 12px 24px; 
    margin-left: 20px;
    margin-top: 10px;
}

@include screen--md {
    .action-button {
        margin-left: 20px;
        font-size: 30px;
        line-height: 50px;
    } 
  }