    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br><br>
              <p>
                <a href="https://itunes.apple.com/es/app/koyomito/id1321729547?mt=8&amp;at=1000lINs&amp;ct=koyomito_website"><img alt="Consíguelo en el App Store" src="img/appstore_es.png"></a>
                <a href='https://play.google.com/store/apps/details?id=com.alecrem.koyomito&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponible en Google Play' src='img/googleplay_es.png'/></a>
              </p>
              <h2>Un calendario muy japonés</h2>
              <p>Koyomito es un calendario completamente en japonés que te ayuda en tu inmersión en la cultura y el idioma japoneses.</p>
              </div>
        </div>
    </section>
