    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What is saveDAI?</h2>
              <br/>
                <p>saveDAI makes it super simple for your to earn interest on your savings while staying protected against many risks that could impact your savings.</p>
                <p>All you have to do is deposit DAI (or dollars, via <a href="https://www.sendwyre.com">Wyre</a>) and saveDAI takes care of the rest.</p>
                <p>Under the hood, saveDAI deposits your DAI into <a href="https://compound.finance">Compound</a> and receives back cDAI, then purchases insurance from <a href="https://www.opyn.co">Opyn Protocol</a> in the form of ocDAI. Your saveDAI tokens then represent the combination of cDAI and ocDAI &mdash; effectively a self-insured savings account.</p>
                <p>saveDAI will also allow you to submit an insurance claim to receive back the original value of your deposit, or remove the insurance if you'd like.</p>
                <p>Note that saveDAI cannot protect your savings against all risks, and there will always be risks in finance, especially systems that are new. Please take caution whenever managing your money.</p>
                <br/>
              </div>
        </div>
    </section>
