<!-- Footer -->
<div class="footer">
    <div class="col-md-3 nopadding">
        <img src="img/gap-logo.png" class="img-responsive">
    </div>
    <div class="col-md-4">
        <div class="">
            <h3>EKONOMIA E VETURAVE</h3>
        </div>
    </div>
    <div class="col-md-3">
            <h5>Analizimi i politikave qeveritare për importin, regjistrimin dhe kontrollimin e automjeteve</h5>
    </div>
    <div class=" col-md-2 social nopadding">
        <div class="fb">
            <a href="https://www.facebook.com/institutigap"><img src="img/fb.png"></a>
        </div>
        <div class="twitter">
            <a href="https://twitter.com/institutigap"><img src="img/twitter.png"></a>
        </div>
    </div> 
    
</div> 