<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#infographic">Infografika</a>
                </li>
                <li>
                    <a class="page-scroll" href="#calculator">Kalkulatori</a>
                </li>            
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grafika <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll"  href="#chart-one">Grafika I</a></li>
                    <li><a class="page-scroll"  href="#chart-two">Grafika II</a></li>
                    <li><a class="page-scroll"  href="#chart-three">Grafika III</a></li>
                    <li><a class="page-scroll"  href="#chart-four">Grafika IV</a></li>
                    <li><a class="page-scroll"  href="#chart-five">Grafika V</a></li>
                    <li><a class="page-scroll"  href="#chart-six">Grafika VI</a></li>
                  </ul>
                </li>
                
                <!-- <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li> -->
            </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
