<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
            <img src="img/header.png" class="header-image">
            <h2> 2018/10/27-28 @ Taipei </h3>
            <h3> iPlayground.io is a tech conference focusing on iDevices(Mac included) development in Taipei </h2>
            <h3> iPlayground.io 是在台北舉辦的 iDevice(包含 Mac)技術研討會</h2>
            <hr class="intro-divider">
            <h3> Please leave your email if your're interested. We'll send you the latest updates. </h3>
            <h3> 如果你有興趣的話，請留下 email, 我們會寄送最新消息給你。</h3>
            {% include signup_form.html %}
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
