@import "../../styles/variable.scss";

.speaker-feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FFFFFF;
  border: 4px solid #D2438B;
  box-sizing: border-box;
  border-radius: 16px;

  margin-bottom: 10px;
}

@include screen--md {
  .speaker-feature {
    width: 30%;
    display: inline-block;
  }
}

.speaker-feature-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #D2438B;
}

.speaker-feature-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #333333;

  margin: 24px;
}
