/* Color
 * ======================================================================== */
/* Media queries
 * ======================================================================== */
.table-talk span {
  display: block; }

.table-talk .table-talk__topic {
  color: dodgerblue;
  font-weight: bold;
  cursor: pointer; }
