/* Color
 * ======================================================================== */
/* Media queries
 * ======================================================================== */
.faq-block-container {
  background: linear-gradient(180deg, #f7f8d2 0%, #f8e2d2 100%); }

.footer-content-thirdparty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; }

.faq-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .faq-container .faq-content {
    position: relative;
    min-height: 100px;
    width: 70vw;
    margin-top: 100px;
    margin-bottom: 150px;
    border: 2px solid #000000;
    border-radius: 16px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    background-color: white; }
    @media screen and (max-width: 600px) {
      .faq-container .faq-content {
        width: 90vw;
        margin-bottom: 50px; } }
    .faq-container .faq-content .faq-list-container {
      padding-top: 100px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px; }
      @media screen and (max-width: 600px) {
        .faq-container .faq-content .faq-list-container {
          gap: 10px; } }
    .faq-container .faq-content .faq-content-container {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      color: #000000;
      padding: 50px 70px 70px 70px; }
      @media screen and (max-width: 600px) {
        .faq-container .faq-content .faq-content-container {
          font-size: 16px;
          padding: 50px 16px 24px 16px;
          line-height: 18px; } }
    .faq-container .faq-content .faq-title-container {
      position: absolute;
      z-index: 100;
      border: 2px solid #000000;
      border-radius: 8px;
      border-right-width: 4px;
      border-bottom-width: 4px;
      background-color: #ef5fa7;
      left: -25px;
      top: -25px;
      height: 50px;
      width: 60vw;
      display: flex;
      align-items: center;
      padding-left: 20px; }
      @media screen and (max-width: 600px) {
        .faq-container .faq-content .faq-title-container {
          left: -10px;
          width: 80vw; } }
      .faq-container .faq-content .faq-title-container .faq-title-container-font {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px; }
        @media screen and (max-width: 600px) {
          .faq-container .faq-content .faq-title-container .faq-title-container-font {
            font-size: 24px; } }
