.faq-container {
  width: 100vw;
  // height: 100px;
  background: linear-gradient(180deg, #f7f8d2 0%, #f8e2d2 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  .faq-content {
    position: relative;
    min-height: 100px;
    width: 70vw;
    margin-top: 100px;
    margin-bottom: 100px;

    border: 2px solid #000000;
    border-radius: 16px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    background-color: white;

    .faq-list-container {
      padding-top: 100px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;

    }

    .faq-content-container {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;

      color: #000000;

      padding: 50px 70px 70px 70px;
    }

    .faq-title-container {
      position: absolute;
      z-index: 100;
      border: 2px solid #000000;
      border-radius: 8px;
      border-right-width: 4px;
      border-bottom-width: 4px;
      background-color: #ef5fa7;
      left: -25px;
      top: -25px;
      height: 50px;
      width: 60vw;

      display: flex;
      align-items: center;
      padding-left: 20px;

      .faq-title-container-font {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
      }
    }
  }
}
