.introduction-content {
  display: flex;
  height: 100vh;
}

.introduction-left-contnet {
  margin-left: 3vw;
  margin-right: 3vw;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  // margin-top: 160px;
  // margin-bottom: 160px;

  .introduction-logo-content {
    width: 403px;
    height: 205px;
  }

  .introduction-actionbutton-contnet {
    width: 320px;
    height: 80px;
  }
}

.introduction-right-contnet {
  flex: 1;
  height: 100%;
  background: linear-gradient(0deg, #d2e7f8 0%, #d2d0e8 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  .introduction-right-image-contnet {
    width: 80%;
    object-fit: contain;
  }
}
