@import "../../styles/variable.scss";

.introduction-content {
  display: flex;
  height: 100vh;

  @include mobile {
    position: relative;
  }
  .introduction-mobile-content {
    display: none;
    @include mobile {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: end;
      bottom: 0;
      background: linear-gradient(0deg, #d2e7f8 0%, #d2d0e8 100%);
      clip-path: polygon(0 37%, 100% 0, 100% 100%, 0% 100%);
      height: 50vh;
      width: 100vw;
    }

    .introduction-mobile-image-contnet {
      width: 322px;
      height: 250px;
      background-image: url("../../images/earth.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
}

.introduction-left-contnet {
  margin-left: 3vw;
  margin-right: 3vw;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include mobile {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  // margin-top: 160px;
  // margin-bottom: 160px;

  .introduction-logo-content {
    // width: 403px;
    // height: 205px;
  }

  .introduction-actionbutton-contnet {
    width: 320px;
    height: 80px;
    cursor: pointer;
  }
}

.introduction-right-contnet {
  flex: 1;
  height: 100%;
  background: linear-gradient(0deg, #d2e7f8 0%, #d2d0e8 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  @include mobile {
    display: none;
  }

  .introduction-right-image-contnet {
    // width: 80%;
    // max-width: 20vw;
    // object-fit: contain;
    width: 688px;
    height: 344px;
    background-image: url("../../images/earth.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}
