@import '../../styles/variable.scss';


.about-container {
  width: 100vw;
  // height: 100px;
  background: linear-gradient(180deg, #d2e7f8 0%, #d3f8d2 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  .about-content {
    position: relative;
    min-height: 100px;
    width: 70vw;
    margin-top: 100px;
    margin-bottom: 100px;

    border: 2px solid #000000;
    border-radius: 16px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    background-color: white;

    @include mobile {
      width: 90vw;
      margin-bottom: 0px;
    }

    .about-content-container {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 45px;

      color: #000000;

      padding: 50px 70px 70px 70px;

      @include mobile {
        font-size: 16px;
        padding: 50px 16px 24px 16px;
        line-height: 18px;
      }
    }

    .about-title-container {
      position: absolute;
      z-index: 100;
      border: 2px solid #000000;
      border-radius: 8px;
      border-right-width: 4px;
      border-bottom-width: 4px;
      background-color: #517cff;
      left: -25px;
      top: -25px;
      height: 50px;
      width: 60vw;

      display: flex;
      align-items: center;
      padding-left: 20px;

      @include mobile {
        left: -10px;
        width: 80vw;
      }

      .about-title-container-font {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;

        @include mobile {
          font-size: 24px;

        }
      }
    }
  }
}
