@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* Color
 * ======================================================================== */
/* Media queries
 * ======================================================================== */
.about-container {
  width: 100vw;
  background: linear-gradient(180deg, #d2e7f8 0%, #d3f8d2 100%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-container .about-content {
    position: relative;
    min-height: 100px;
    width: 70vw;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #000000;
    border-radius: 16px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    background-color: white; }
    @media screen and (max-width: 600px) {
      .about-container .about-content {
        width: 90vw;
        margin-bottom: 0px; } }
    .about-container .about-content .about-content-container {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 37px;
      color: #000000;
      padding: 50px 70px 70px 70px; }
      @media screen and (max-width: 600px) {
        .about-container .about-content .about-content-container {
          padding: 50px 16px 24px 16px;
          font-family: "Helvetica";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          color: #000000; } }
    .about-container .about-content .about-title-container {
      position: absolute;
      z-index: 100;
      border: 2px solid #000000;
      border-radius: 8px;
      border-right-width: 4px;
      border-bottom-width: 4px;
      background-color: #517cff;
      left: -25px;
      top: -25px;
      height: 50px;
      width: 60vw;
      display: flex;
      align-items: center;
      padding-left: 20px; }
      @media screen and (max-width: 600px) {
        .about-container .about-content .about-title-container {
          left: -10px;
          width: 80vw; } }
      .about-container .about-content .about-title-container .about-title-container-font {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        color: #000000; }
        @media screen and (max-width: 600px) {
          .about-container .about-content .about-title-container .about-title-container-font {
            font-family: "Helvetica";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            /* identical to box height */
            color: #000000; } }
