.abount-container {
  width: 100vw;
  // height: 100vh;
  background: linear-gradient(180deg, #d2e7f8 0%, #d3f8d2 100%);

  .abount-content {
    position: relative;
    padding-left: calc(15vw - 30px);

    padding-top: 50px;
    padding-bottom: 50px;

    .abount-title-container {
      position: absolute;
      z-index: 100;
      width: 70%;
      height: 50px;

      .abount-content-container {
        position: absolute;
        z-index: 1;
        left: 16px;
        top: 25px;
        width: 80vw;
        // height: 600px;
      }
    }


  }
}
