.table-time {
  border-right: 1px solid #FFFFFF33;
  min-height: 60px;
  padding: 1em 0;
  span {
    display: block;
    text-align: center;
  
  }
}
/*@include screen--md {
  .table-time {
    min-height: 80px;
  }
}*/
