@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display&display=swap');

nav {
    position: fixed;
    width: 100%;
    z-index: 999;

    .nav-container{
        display: flex;
        z-index: 999;
        flex-direction: row;
        padding: 0px 120px;
        background-color: #d9d9d9;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    .sub-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sub-content-container {
        font-family: 'Alice', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
    }

    .nav-right-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        .sub-signup-container {
            width: 180px;
        }
    
        .logo-twitter {
            height: 37px;
        }
    }

}