@import url("https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display&display=swap");
nav {
  position: fixed;
  width: 100%; }
  nav .nav-container {
    display: flex;
    z-index: 999;
    flex-direction: row;
    padding: 0px 120px;
    background-color: #d9d9d9;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
  nav .sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  nav .sub-content-container {
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000; }
  nav .sub-signup-container {
    width: 180px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    isolation: isolate;
    background: linear-gradient(180deg, #4B58EF 0%, #517CFF 100%);
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    margin: 0px 0px 0px 38px; }
  nav .sub-signup-text-container {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; }
  nav .logo-twitter {
    height: 37px; }
