@import '../styles/variable.scss';

.app {
  padding: 0 20px;

  .app__iplayground-logo {
    width: 100%;
  }

  .app__submit {
    display: block;
    margin-top: 5rem;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    background-color: $color--primary;
  }

  .app__sponsor-logo {
    width: 50%;
  }

  .app__section {
    padding: 2.5rem 0;
  }

  .app__title--center {
    text-align: center;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
  }

  @include screen--md {
    .app__submit {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }

    .app__sponsor-logo {
      width: 25%;
    }
  }

  @include screen--lg {
    display: flex;
    justify-content: center;

    .app__container {
      max-width: 960px;
    }
  }
}
