@import '../styles/variable.scss';

.app {
  padding: 0 20px;

  .app__title {
    text-align: center;
  }

  .app__title.app__main-title {
    color: $color--primary;
  }

  .app__submit {
    display: block;
    margin: 3.5rem 0;
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: $color--primary;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
  }

  @include screen--md {
    .app__submit {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }
  }

  @include screen--lg {
    display: flex;
    justify-content: center;

    .app__container {
      max-width: 960px;
    }
  }
}
