@import "../../styles/variable.scss";

.action-button {
    width: 180px;
    //height: 60px;
    background-image: linear-gradient(-60deg, #EF5FA7 6%, #517CFF 100%);
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 2px;
    padding: 12px 24px;
}