.mailchimp-Container {
    height: 830px;
    // background-color: red;
    padding: 100px;

    .mailchimp-main-container {
        background: #f5f5f5;
        border-radius: 6px;
    }
}

.mailchimp-submit-container {
    display: flex;
    flex-direction: column;

    .mailchimp-submit-cell-content {
        border-radius: 10px;
        border-width: 0px;
        font-size: 2em;
        padding: 5px;
    }
}