nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 64px; }
  nav a {
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    nav a p {
      margin-block-end: 0;
      margin-block-start: 0.5em;
      margin-left: 1em;
      display: inline-block; }
  nav .logo-small-container {
    position: absolute;
    display: inline-block;
    right: 2em;
    height: 100%; }
  nav .logo-small-subcontainer {
    display: block;
    text-align: center;
    line-height: 1; }
  nav .logo-small-subcontainer::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 0;
    height: 100%;
    vertical-align: middle; }
  nav .logo-small-subcontainer::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 0;
    height: 100%;
    vertical-align: middle; }
  nav .nav-link-container {
    display: none; }
  nav .nav-menu {
    display: inline-block;
    color: #fff;
    font-size: 32px;
    padding: 0.5em; }
  nav .nav-button {
    padding-top: 16px;
    padding-inline-start: 10px; }
  nav .action-button {
    display: inline-block;
    width: 100px;
    margin-left: -20px;
    margin-top: -10px;
    letter-spacing: 5px;
    font-size: 18px;
    line-height: 24px; }
  nav #nav {
    background-color: transparent;
    padding-bottom: 0; }
  nav #nav.menu-opened {
    background-color: #ffffffef;
    padding-bottom: 2em;
    box-shadow: 0 3px 5px 2px #00000033; }
  nav #nav-logo-small {
    display: none; }

.is-shrink {
  background-color: #ffffffef;
  box-shadow: 0 3px 5px 2px #00000033; }
  .is-shrink P {
    color: #333; }
  .is-shrink .nav-menu {
    color: #333; }

@media screen and (min-width: 680px) {
  nav {
    height: 80px;
    padding-left: 2em; }
    nav a p {
      display: block; }
    nav .nav-link:first-child {
      padding-left: 30px; }
    nav .nav-link {
      display: inline-block;
      padding-right: 30px; }
    nav .nav-link-container {
      display: inline-block; }
    nav .nav-menu {
      display: none; }
    nav .logo-small-container {
      right: 4em; }
    nav .nav-button {
      letter-spacing: 10px;
      padding-inline-start: 20px;
      padding-top: 20px;
      vertical-align: top; } }

@media (prefers-color-scheme: dark) {
  .is-shrink {
    background-color: #333333ef;
    box-shadow: 0 3px 5px 2px #00000033; }
    .is-shrink P {
      color: #fff; }
    .is-shrink .nav-menu {
      color: #fff; }
  nav #nav.menu-opened {
    background-color: #333333ef; } }
