/* Color
 * ======================================================================== */
/* Media queries
 * ======================================================================== */
.action-footer {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
  bottom: 0;
  right: 0;
  padding-bottom: 20pt;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FBFCFE 100%); }

.button {
  font-size: 26px;
  line-height: 18px;
  text-align: center;
  margin-left: 10pt;
  margin-right: 10pt;
  padding: 17pt 10pt;
  text-decoration: none;
  letter-spacing: 7px; }

.solid-button {
  background: #638AFF;
  border-radius: 23px;
  color: #FFFFFF; }

.hollow-button {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #517CFF;
  box-sizing: border-box;
  border-radius: 23px;
  color: #517CFF; }

@media screen and (min-width: 768px) {
  .button {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-left: 10pt;
    margin-right: 10pt;
    padding: 10pt 50pt;
    text-decoration: none; } }
