@import "../styles/variable.scss";

html {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

.app-fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container-fullscreen {
  width: 100%;
  background: linear-gradient(350.91deg, #3b559a 28.55%, #9eb0d6 89.13%);
  min-height: 120vmin;

  .logo-container {
    max-width: 90vmin;
    height: 101vmin;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
  }

  .logo-container-fullscreen-mask {
    height: 0;
    border-style: solid;
    border-width: 0 0 20vmin 100vw;
    border-color: transparent transparent #ffffff transparent;
  }

  .logo-container-fullscreen-mask-container {
    position: relative;
  }

  .logo-container-fullscreen-mask-2-container {
    position: absolute;
    bottom: 0;
    justify-content: end;
    align-items: end;
    .logo-container-fullscreen-mask-2-top {
      height: 0;
      border-style: solid;
      border-width: 0 0 12vmin 100vw;
      border-color: transparent transparent #ffffff33 transparent;
    }
    .logo-container-fullscreen-mask-2-bottom {
      background: #ffffff33;
      height: 5vmin;
    }
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .logo-info {
    margin-right: 7pt;
    margin-block-start: 0px;

    font-size: 5vmin;
    line-height: 10vmin;
    text-align: right;
    font-weight: 500;

    color: #ffffff;

    text-shadow: 3px 3px rgba(0, 0, 0, 1);
    i {
      padding-right: 4pt;
    }
  }
  @media screen and (min-width: 680px) {
    .logo-container {
      padding-top: 96px;
      // text-shadow: 1px 3px rgba(0, 0, 0, 1);
    }
    .logo-info {
      text-shadow: 0.5px 0.5px rgba(0, 0, 0, 1);
    }
  }
}

.app__container {
  //padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30pt;

  .app__submit {
    display: block;
    margin: 5rem 0;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    background-color: $color--primary;
  }

  .app__sechdule-tab {
    margin-bottom: 1rem;

    .app__sechdule-tab__btn {
      font-weight: bold;
      font-size: 18pt;
      margin-right: 0.5rem;
      margin-bottom: 0.5em;
      padding: 0.5rem 1rem;
      border-radius: 60px;
      border: 1px solid #ef5fa7;
      outline: none;
      color: #ef5fa7;
      background-color: #ffffff66;
    }

    .app__sechdule-tab__btn--selected {
      color: #ef5fa7;
      background-color: rgba(0, 0, 0, 0.75);
      border: 1px solid rgba(0, 0, 0, 0.75);
    }
  }

  .sechdule_container {
    background-color: rgba(128, 128, 128, 0.33);
    padding: 1em 0;
    border-radius: 6px;

    ul {
      padding: 0;
    }
    li {
      display: flex;
      width: 100%;
    }
    .sechdule_row {
      border-bottom: 1px solid #ffffff;
    }
    .sechdule_time_block {
      width: 20%;
    }
    .sechdule_block {
      width: 100%;
    }
    .sechdule_room_container {
      width: 100%;
      display: none;
    }
    .room_lable {
      text-align: center;
      color: #ffffff;
      padding: 0.5em;
      border-radius: 6px;
      font-size: 16px;
    }
    .sechdule_room_lable {
      margin: 0.5em 1em;
      font-weight: 300;
    }
    .room_101 {
      background-color: #517cffef;
    }
    .room_102 {
      background-color: #ef5fa7ef;
    }
    .room_103 {
      background-color: #f8ba00ef;
    }
    .room_1005 {
      background-color: #57ff51ef;
    }
    .workshop_day {
      text-align: center;
      height: 40px;
      font-size: 1.25em;
      font-weight: bold;
      color: #444444;
      padding-left: 2em;
      padding-top: 1em;
    }
    @include screen--md {
      .sechdule_room_container {
        display: flex;
      }
      .sechdule_block {
        width: 33%;
        display: inline-block;
      }
    }
  }
  .app__table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(240, 187, 64, 0.33);

    &,
    th,
    td {
      border: 1px solid $color--bg;
    }

    th,
    td {
      padding: 0.5rem;
    }

    th {
      border-bottom-width: 3px;
    }
  }

  .app__sponsor-gold-container {
    text-align: center;

    .app__sponsor {
      width: 100%;
    }

    a {
      width: 100%;
    }

    .app__sponsor-gold {
      max-width: 50%;
    }
  }
  .app__speaker {
    text-align: center;
    cursor: pointer;
    vertical-align: top;

    .app__speaker-img {
      width: 60%;
      max-width: 275px;
      margin-top: 2rem;
      border-radius: 50%;
    }

    .app__speaker-square-img {
      width: 90%;
      max-width: 800px;
      margin-top: 2rem;
      border-radius: 5%;
    }

    .app__speaker-name {
      font-size: 1.35rem;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      color: #ffffff;
      padding: 0.5rem 0;
      margin: 0 15%;
      border-radius: 8px;
      //color: $color--secondary;
    }

    .app__speaker-position {
      margin-top: 0;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      @media (prefers-color-scheme: dark) {
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      @media (prefers-color-scheme: light) {
        color: black;
      }
    }
  }
  .app__speaker-container {
    // text-align: center;
  }

  .app__sponsor {
    text-align: center;

    .app__CoOrganisers-logo {
      width: 80%;
      max-width: 325px;
      margin-top: 2rem;
    }

    .app__sponsor-logo {
      width: 70%;
      max-width: 250px;
      margin-top: 2rem;
    }

    .app__sponsor-gold {
      width: 200%;
      max-width: 325px;
      margin-top: 2rem;
    }

    .app__sponsor-degree {
      color: #000;
    }
  }

  .app__section {
    padding: 2rem 0;
    //margin: 0 40px;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      @media (prefers-color-scheme: dark) {
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      @media (prefers-color-scheme: light) {
        color: black;
      }
    }
  }

  .main_section {
    position: relative;
  }

  .sub_section {
    padding-top: 120px;
  }
  .main_section_logo {
    position: absolute;
    width: 75vmin;
    min-width: 360px;
    left: -25vmin;
    z-index: -1;
  }

  .main_section_container {
    padding: 2rem 2rem;
    margin: 30vmin -0px 0px 5vw;
    min-height: 360px;
    background-color: #ffffff66;
    border-radius: 23px 0 0 23px;
    //border: 1px solid #FFFFFF;
    box-shadow: 0 3px 30px 2px rgba(0, 0, 0, 0.2);

    .section_tag {
      color: #ef5fa7;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 8px;
      font-size: 26px;
      padding: 8px 16px;
    }

    .section_sub_container {
      padding-left: 2rem;
    }
  }
  .empty_section {
    margin: 0 -0px 0px 5vw;
  }
  .section_container {
    padding: 2rem 2rem;
    margin: 0 -0px 0px 5vw;
    //min-height: 360px;
    background-color: #ffffff66;
    border-radius: 23px 0 0 23px;
    box-shadow: 0 3px 30px 2px rgba(0, 0, 0, 0.2);
  }
  .section_content_row_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section_center_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app__title {
    display: flex;
    flex-wrap: wrap;
    font-family: "PingFangTC-Ultralight", "STHeitiTC-Ultralight", "STHeitiTC-Light", "Microsoft JhengHei";
    margin-bottom: 2.5rem;
    text-align: left;
    padding: 0 0;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    color: #333333;
    .app__title_eng {
      margin-right: 1rem;
    }
    .app__title_smaller_eng {
      font-size: 55px;
      margin-right: 1rem;
    }
  }

  .section_sub_title {
    text-align: left;
    font-size: 40px;
    padding: 1rem 0;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 1);
  }

  .section_action_container {
    text-align: center;
    padding: 16px 0;
  }
  .social_icon {
    width: 64px;
    line-height: 64px;
    vertical-align: middle;
    font-size: 32pt;
  }

  .content_small_title {
    font-size: 1.2em;
    color: #333333;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
  }

  a {
    text-decoration: none;
  }

  .twitter_icon {
    color: #1da1f2;
  }
  .facebook_icon {
    color: #1877f2;
  }
  .telegram_icon {
    color: #0088cc;
  }
  @include screen--md {
    .app__submit {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }

    .app__speaker,
    .app__sponsor {
      width: 25%;
      display: inline-block;
    }

    .app__speaker {
      .app__speaker-name {
        margin-top: 0.5rem;
      }
    }

    .app__sponsor {
      .app__sponsor-logo {
        width: 70%;
      }

      .app__sponsor-gold {
        width: 200%;
      }
    }
    .app__sponsor-gold-container {
      .app__sponsor-gold {
        max-width: 50%;
      }
    }
  }

  @include screen--lg {
    .app__container {
      max-width: 960px;
    }
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #666;
  }
  .logo-container-fullscreen {
    .logo-container-fullscreen-mask {
      border-color: transparent transparent #666 transparent;
    }
    .logo-container-fullscreen-mask-2-container {
      .logo-container-fullscreen-mask-2-top {
        border-color: transparent transparent #66666633 transparent;
      }
      .logo-container-fullscreen-mask-2-bottom {
        background: #66666633;
      }
    }
  }
  .app__container {
    .main_section_container {
      background-color: #ffffffaa;
    }
    .twitter_icon {
      color: #ffffff;
    }
    .facebook_icon {
      color: #ffffff;
    }
    .telegram_icon {
      color: #ffffff;
    }
  }
}
